:root {
  --primary-color: #196DDC;
  --primary100-color: #D1E2F8;
  --primary700-color: #155BB7;
  --secondary-color: #FC7C1C;
  --neutral-color: #D0D0D0;
  --black: #2A2A2A;
  --white: #FFFFFF;
  --success-color: #07C566;
  --main-font: 'IBM Plex Sans', sans-serif;
}
*{
  box-sizing: border-box;
  padding:0px ;
  margin: 0px;
  font-family: var(--main-font);
}
body{
  background-color: #E5E6E6;
}
main {
  width: 100vw;
}
#dashboard_details {
  display: none;
}
.main-dashboard {
  padding: 16px;
}
/* NAVBAR SECTION */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.menubar {
  height: 40px;
  width: 40px;
  /* border: 1px solid red; */
}
.searchbar {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 12px;
  height: 48px;
  box-shadow: 0px 3px 14px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 246px;
  flex-grow: 1;
}
#searchinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 0px;
  gap: 12px;
  height: 32px;
  border: none;
  font-size: 14px;
}
.profile {
  display: none;
}
.notification {
  background-color: var(--primary-color);
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 8px;
  gap: 8px;
  height: 48px;
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  /* width: 78px; */
}
.notification > span {
  /* Notification bing and User icons */
  height: 32px;
  width: 32px;
  /* border: 1px solid red; */
}
/* END NAVBAR SECTION */

/* WELCOME SECTION */
.welcome-div {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.welcome-title {
  color: var(--primary-color);
}
.welcome-text {
  font-size: 20px;
  font-weight: 500;
}
/* END WELCOME SECTION */

/* CTA BTNS SECTION */
.cta-btns {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 16px;
  /* border: 1px solid red; */
}
#plus-icon {
  height: 12px;
  width: 12px;
  /* border: 1px solid red; */
}
.primary-btn {
  color: var(--white);
  background-color: var(--primary-color);
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 8px 24px 8px 16px;
  gap: 22px;
  /* width: 166px; */
  width: 45%;
  /* width: auto; */
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  justify-content: center;
}
/* .upload-btn {
  display: flex;
  justify-content: center;
} */
.secondary-btn {
  color: var(--primary-color);
  background-color: var(--white);
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 8px 20px;
  /* gap: 16px; */
  width: 55%;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid var(--primary-color);
  font-weight: 700;
  justify-content: center;
}
/* END CTA BTNS SECTION */

/* STATISTICS SECTION */
.stats-section {
  display: none; /* display: flex; */
  flex-direction: row;
  column-gap: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-x: scroll;
}
.stat-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 318px;
  height: 234px;
  background-color: var(--white);
  border-radius: 4px;
  row-gap: 20px;
}
.stat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  width: 270px;
  height: 32px;
}
.stat-title {
  color: var(--secondary-color);
  width: 214px;
}
.stat-img {
  height: 32px;
  width: 32px;
}
.stat-figures {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.stat-num {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 700;
}
.stat-percent {
  color: var(--success-color);
}
.stat-files {
  display: flex;
  flex-direction: row;
  width: 270px;
  gap: 8px;
  justify-content: space-evenly;
}
.stat-fname {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-weight: 700;
  font-size: 16px;
}
.stat-ftype {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
}
/* END STATISTICS SECTION */

/* RECENTLY SAVED SECTION */
.recents-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  background-color: var(--white);
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.recents-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  /* border: 1px solid red; */
}
.recents-heading {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 30px; */
  color: var(--primary-color);
}
.recents-more { 
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
}
.recents-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recents-item {
  /* height: 92px; */
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.recents-img {
  /* width: 92px; */
  /* height: 92px; */
  width: 64px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: 4px;
  flex: none; /* Resets the flex shrink, I'm also suprised how */
  display: flex;
  align-items: center;
  justify-content: center;
}
.recents-info {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 100%;
  gap: 4px;
  justify-content: space-between;
  /* align-items: center; */
}
.recents-fileicon {
  height: 32px;
  width: 32px;
  margin: auto;
}
.recents-props {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.bullet-point {
  width: 4px;
  height: 4px;
}
.recents-actionbtns {
  display: flex;
  flex-direction: row;
  align-self: center;
  /* width: 88px; */
  width: 72px;
  /* height: 48px; */
  height: 40px;
  flex: none;
  order: 1;
}
.recents-actionbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  gap: 8px;
  /* width: 44px; */
  width: 36px;
  /* height: 48px; */
  height: 40px;
  background-color: var(--primary100-color);
  flex: none;
  order: 1;
  flex-grow: 0;
  /* border-radius: 4px; */
}
#download-btn {
  border-radius: 4px 0px 0px 4px;
}
#share-btn {
  border-radius: 0px 4px 4px 0px;
}
/* END RECENTLY SAVED SECTION */

/* SUPPORTED FILES SECTION */
.files-section {
  width: 100%;
  height: 192px;
  background-color: var(--white);
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px 32px 0px;
  padding: 24px;
}
.files-title {
  color: var(--primary-color);
}
.files-carousel {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 20px;
  overflow-x: scroll;
  height: 90px;
}
.files-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.files-img {
  background-color: var(--primary-color);
  width: 64px;
  height: 64px;
  border-radius: 5px;
  flex: none;
  order: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.files-img > img {
  width: 24px;
  height: 24px;
}
.files-item > p {
  font-size: 12px;
  color: var(--black);
}
/* END SUPPORTED FILES SECTION */